@charset "UTF-8";
body{
  margin-right:0px;
  background-image:url('../Images/background4.jpg')
}
.container{
  width:100%;
  margin:0px;
  opacity:0.75;
}
#head,#foot{
  width:100%;
  height:75px;
  background-color:#A8A48E;
  padding:10px;
  margin:0px;
  opacity:0.75;
}

.jumbotron {
text-align:center;
opacity:0.75;
margin-top:2%;

}
.row{
  margin:0px;
  margin-left:0px;
}
#projects {

}
#me{
  width:20%;
  height:40%;
}

nav {
  float:right;
  }
